/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


/* Individual Responsive Queries */

/* Remove mobile Navigation when over 1000px */
@media (min-width: 1200px) {
    .navbar-mobile-bottom {
        display: none;
    }

    .board-inner-head .add-task-desktop {
        display: block;
    }

    .board-inner-head .add-task-mobile {
        display: none;
    }
}

/* Here starts the responsiveness (header adaptation, sidebar removing and mobile footer addition) */
@media (max-width: 1200px) {
    .board-container {
        margin-top: 110px;
    }

    .board-inner-head {
        gap: 16px;
        margin: 0 25px;
    }

    .board-inner-head .add-task-desktop {
        display: none;
    }

    .board-inner-head input {
        margin-right: 0;
    }

    .board-inner-head .add-task-mobile {
        height: 42px;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Unset Desktop values from button-dark */
        width: unset;
        padding: unset;
    }

    .board-inner-head .add-task-mobile>img {
        padding: unset;
    }

    .board-inner-head>div {
        width: 100%;
    }

    .board-inner-head .inputField {
        width: 100%;
    }

    .board-content {
        overflow: auto;
    }

    .row {
        padding: 20px 5px;
    }

    .task-holder {
        width: 100%;
        padding-bottom: 50px;
    }

    .content-main {
        margin-left: 0;
    }

    .board-inner-head {
        flex-direction: column;
    }

    .content-header {
        margin-left: 0 !important;
        padding: 0 40px;
        position: absolute;
        width: 100%;
    }

    .navbar-mobile-bottom {
        display: flex;
    }

    .navbar-mobile-content {
        display: flex;
    }

    .nav-left {
        display: none;
    }
}

@media (max-width: 1000px) {}

@media (max-width: 800px) {
    .header-left {
        display: none;
    }

    .mobile-logo {
        display: block !important;
    }

    .header-profile-icon {
        height: 40px;
        width: 40px;
        border-width: 2px;
        font-size: 11px;
    }

    .header-question-icon {
        display: none;
    }

    .mobile-logo img {
        height: 40px;
    }

    .mobileNavbarIcons {
        width: 32px;
        height: 32px;
    }

    .navbar-mobile-bottom {
        gap: 48px !important;
    }
}

@media (max-width: 450px) {
    .navbar-mobile-bottom {
        gap: 16px !important;
    }

    .task-holder {
        min-width: unset;
    }
}