.d-none {
    display: none !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: calc(100%-232px);
    margin-left: 232px;
    right: 0;
    display: flex;
    justify-content: space-between;
  }

  .board-container {
    margin-top: 96px;
  }

.board-inner-head {
    background-color: #F6F7F8;
    margin: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-inner-head span {
    font-size: 61px;
    font-weight: 700;
}

.board-inner-head input {
    margin-right: 32px;
    background-color: white;
    background-image: url('../assets/img/input-divider-grey.png'), url('../assets/img/search-dark.png');
    background-position:
        right 45px center,
        right 5px center;
    background-repeat:
        no-repeat,
        no-repeat;
}

.col-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.col-head span {
    color: #42526E;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    white-space: nowrap;
}

.col-head img:hover {
    cursor: pointer;
}

.todo-empty {
    background-color: #e7e7e7;
    color: #a8a8a8;
    border: 1px dashed #a8a8a8;
    height: 65px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
}

.todo {
    background: #fff;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.todo:hover {
    cursor: grab;
}

.category {
    align-self: flex-start;
    background-color: #0038ff;
    padding: 4px 16px;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

.task-holder {
    min-height: 300px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.todo-header {
    font-weight: 700;
    color: #2a3647;
}

.todo-description {
    height: 40px;
    overflow: hidden;
}

.subtasks {
    display: flex;
    align-items: center;
}

.subtasks-bar-outer {
    width: 100%;
    margin-right: 16px;
    border-radius: 8px;
    height: 8px;
    background-color: #f4f4f4;
}

.subtasks-bar-inner {
    width: 50%;
    background-color: #4589ff;
    height: 8px;
    border-radius: 8px;
}

.subtasks-text {
    white-space: nowrap;
    font-size: 12px;
}

.todo-coworkers {
    display: flex;
}

.todo-coworker:nth-child(n + 2) {
    margin-left: -10px;
}

.todo-coworker:nth-child(1n) {
    background-color: #FF7A00;
}

.todo-coworker:nth-child(2n) {
    background-color: #1FD7C1;
}

.todo-coworker:nth-child(3n) {
    background-color: #462F8A;
}

.todo-coworker {
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    background-color: #462f8a;
}

.todo-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.priority img{
    width: 18px;
}

/* Board Column Flex Layout */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
}

.column {
    flex: 25%;
    box-sizing: border-box;
    padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}