@media (max-width: 1400px) {


    .pop-up-at-field {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0;
        overflow-y: scroll;
    }

    .pop-up-at-field .bottom-container {
        position: fixed;
        bottom: 0;
    }

    .close-img-at-pop-up {
        position: absolute;
        top: 20px;
        right: 20px;
        left: unset;
        z-index: 200;
    }

}

@media (max-width: 650px) {

    /* Pop-up task big */

    .pop-up-task-big {
        width: 100%;
        max-height: unset;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        overflow: auto;
    }

    .pu-big-contact-container {
        width: 100%;
    }

    /* Pop-up task big edit */

    .pop-up-task-big-edit {
        max-height: 100vh;
        height: 100vh;
        overflow-y:unset;
        margin: 0;
    }

    .pop-up-task-big-edit form {
        margin-top: 20px;
        width: 100%;
        height: 70%;
    }

    .tool-container {
        margin-right: 6px;
    }

    .ok-button-container {
        margin-top: 10px;
    }
}

@media (max-width: 535px) {

        /* Pop-up task big edit */

        .pop-up-task-big-edit {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: unset;
        }

        .pop-up-task-big-edit form {
            margin-top: 20px;
            width: 100%;
        }

        .close-button-pu-edit {
            top: 8px;
            right: 8px;
        }
    
        .pop-up-task-big-edit input {
            font-size: 16px;
        }
    
        .field-container-pu-edit {
            margin-top: 10px;
            max-height: 70vh;
            overflow-y: auto;
        }
    
        .field-container-pu-edit label {
            font-size: 16px;
        }
    
        .added-subtasks-container-edit input {
            width: 250px;
        }
    
        .subtasks-edit label {
            max-width: unset;
        }
    
        .date-input-pu-edit {
            width: 100%;
            max-width: unset;
        }

}

