/* Pop-up Add Task */

.pop-up-at-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.pop-up-at-field {
    width: 1116px;
    height: 870px;
    background-color: white;
    border-radius: 30px;
    z-index: 101;
    position: relative;
}

.pop-up-at-field h1 {
    margin-top: 64px;
}

.pop-up-at-field .bottom-container {
    position: absolute;
    bottom: 64px;
}

.close-img-at-pop-up {
    position: absolute;
    top: 64px;
    left: 1044px;
    width: 32px;
    height: 32px;
    z-index: 102;
}

.close-img-at-pop-up:hover {
    cursor: pointer;
}

.pop-up-at-field .assigned-to-drop-down {
    max-height: 180px;
    border: 1px solid #D1D1D1;
}

.pop-up-at-field .category-drop-down {
    border: 1px solid #D1D1D1;
}

.pop-up-at-field .subtasks {
    display: flex;
    flex-direction: column;
}

.pop-up-at-field .added-subtask-container {
    width: 440px;
}

/* Pop-up task big */

.pop-up-task-big {
    width: 396px;
    background-color: white;
    border-radius: 30px;
    padding: 32px 24px 32px 24px;
    z-index: 101;
    position: relative;
}

.category-close-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-pu-big {
    width: 113px;
    height: 27px;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #FFFFFF;
}

.user-story {
    background-color: #0038FF;
}

.technical-task {
    background-color: #1FD7C1;
}

.close-button-pu-big {
    width: 32px;
    height: 32px;
}

.close-button-pu-big:hover {
    cursor: pointer;
}

.pu-big-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    margin-left: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

.pu-big-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

table {
    border-spacing: 0 16px;
}

table td:first-child {
    padding-right: 25px;
    color: #42526E;
}

table td:last-child {
    display: flex;
    align-items: center;
}

table img {
    width: 17px;
    height: 6.33px;
    margin-left: 10px;
}

.pu-big-assigned-to {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #42526E;
}

.pu-big-contact-container {
    width: 348px;
    height: 56px;
    padding: 7px 16px 7px 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.pu-big-contact-container div {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
}

.pu-big-contacts {
    margin-bottom: 16px;
    margin-top: 8px;
}

.pu-big-subtasks {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #42526E;
}

.pu-big-subtasks-container {
    margin-top: 8px;
    margin-bottom: 16px;
}

.pu-big-subtask-container {
    height: 32px;
    display: flex;
    align-items: center;
}

.pu-big-subtask-container img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.pu-big-subtask-container img:hover {
    cursor: pointer;
}

.pu-big-edit-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pu-big-edit-container:hover {
    cursor: pointer;
}

.pu-big-edit-only {
    display: flex;
    align-items: center;
}

.pu-big-delete {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.pu-big-edit {
    width: 19px;
    height: 19px;
    margin-right: 8px;
}

.pu-big-seperator {
    width: 1px;
    height: 24px;
    background-color: #D1D1D1;
    margin-left: 8px;
    margin-right: 8px;
}

/* Pop-up task big edit */

.pop-up-task-big-edit {
    width: 525px;
    background-color: white;
    border-radius: 30px;
    padding: 48px 40px 48px 40px;
    box-sizing: border-box;
    position: relative;
}

.close-button-pu-edit {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 48px;
    right: 40px;
}

.close-button-pu-edit:hover {
    cursor: pointer;
}

.field-container-pu-edit {
    margin-top: 56px;
    margin-bottom: 56px;
    max-height: 697px;
    overflow-y:scroll;
    overflow-x: hidden;
}

.field-container-pu-edit label {
    font-size: 20px;
}

.title-label-pu-edit {
    display: block;
    width: 100%;
}

.title-input-pu-edit {
    width: 100%;
}

.desc-input-container-pu-edit {
    width: 100%;
}

.date-input-pu-edit {
    width: 100%;
    max-width: 430px;
    box-sizing: border-box;
}

.button-prio-container-edit {
    width: 100% !important;
}

.field-container-pu-edit .assigned-to {
    margin-top: 14px;
}

#assignedToInputEdit {
    border: none;
    outline: none;
}

.assigned-to-edit {
    height: auto;
}

.contacts-selected-container-edit {
    margin-top: 4px!important;
}

.a-t-input-container-edit {
    width: 100% !important;
}

.at-drop-down-edit {
    margin-top: 0 !important;
    max-height: 223px !important;
}

.at-edit {
    max-height: 300px;
}

.field-container-pu-edit .subtasks {
    margin-top: 14px;
}

.input-field-subtask-edit {
    outline: none;
    border: none;
}

.subtasks-edit {
    display: flex;
    flex-direction: column !important;
}

.subtasks-edit label {
    width: 100%;
}

.subtasks-container-edit {
    width: 100%;
    margin-bottom: 10px;
}

.added-subtasks-container-edit {
    width: 100%;
    margin-top: 0 !important;
}

.ok-button {
    width: 89px;
    height: 57px;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #2A3647;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 32px;
    right: 40px;
}

.ok-button img {
    margin-left: 4px;
    height: 24px;
    width: 24px;
}

.ok-button:hover {
    cursor: pointer;
}