body {
    overflow: auto !important;
}

p {
    font-size: 12px;
}

li {
    font-size: 14px;
}
.mainLegalContent_container {
    display: flex;
}

.legalContent_container {
    display: flex;
    flex-direction: column;
    margin-left: 232px;
}

.content-header{
    margin: 0 !important;
}

h1 {
    margin: 0;
}

.legalNoticeHeader {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.backwardsArrow {
    height: 37px;
    width: 37px;
}
.backwardsArrow:hover {
    cursor: pointer;
}

.legalAndHelp_container {
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
    overflow: hidden;
}

@media (max-width: 1200px) {

    .nav-left {
        display: none;
    }
    .content-header {
        display: none;
    }
    
    .content-header-mobile {
      display: flex !important;
      margin-left: 0 !important;
      width: 100%;
    }
    .navbar-mobile-bottom {
    position: absolute;
      display: flex !important;
    }
    .mainLegalContent_container {
        flex-direction: column;
        position: relative;
        height: 100%;
    }
    .legalContent_container {
        margin-left: 10px;
    }

}