<img id="closeButtonPopUpAt" class="close-img-at-pop-up d-none" src="./assets/img/close-img.png"
    onclick="closePopUpAt()" />
<h1>Add Task</h1>
<form onsubmit="createTask(); return false">
    <div class="add-task-container">

        <div class="container-left">
            <div class="title">
                <label>Title<span class="star">*</span><br>
                    <input id="titleInput" class="inputField focus" type="text" placeholder="Enter a title"
                        onkeyup="checkValueTitle('titleInput', 'titleRequiredContainer')" required>
                </label>
                <div id="titleRequiredContainer" class="title-required d-none">This field is required</div>
            </div>
            <br>

            <div class="description">
                <label>Description<br>
                    <div class="desc-input-container">
                        <textarea id="descriptionInput" class="focus" placeholder="Enter a Description"></textarea>
                    </div>
                </label>
            </div>
            <br>

            <div class="assigned-to at-edit">
                <label>Assigned to<br>
                    <div class="a-t-input-container" id="aTInputContainer">
                        <input class="inputField" placeholder="Select contacts to assign" id="assignedToInput"
                            onfocus="inputAssignedToFocus('aTInputContainer')"
                            onblur="inputAssignedToBlur('aTInputContainer')" onkeyup="filterNames()">
                        <img src="./assets/img/arrow-drop-down.png" class="arrow-drop-down" id="arrowAssignedTo"
                            onclick="toggleAssignedToDropDown()">
                    </div>
                </label>
                <div id="assignedToDropDown" class="assigned-to-drop-down d-none">
                    <div id="assignedToDropDownWrapper" class="assigned-to-drop-down-wrapper">
                    </div>
                </div>
                <div id="contactsSelectedContainer" class="contacts-selected-container">
                </div>
            </div>

        </div>

        <div class="seperator"></div>

        <div class="container-right">
            <div class="due-date">
                <label>Due date<span class="star">*</span><br>
                    <div class="d-d-input-container" id="dateInputContainer">
                        <input id="dateInput" type="date" class="inputField focus color-date-input-gray"
                            onclick="minMaxDate('dateInput')"
                            onkeyup="checkValueDueDate('dateInput', 'dateRequiredContainer')"
                            onchange="colorFontInput('dateInput'), checkValueDueDate('dateInput', 'dateRequiredContainer')"
                            required>
                    </div>
                </label>
                <div id="dateRequiredContainer" class="date-required d-none">This field is required</div>
            </div>
            <br>

            <div class="prio">
                <label>Prio<br>
                    <div class="button-prio-container">
                        <div class="button-prio" id="prioButton1"
                            onclick="setPrio(1, 'prioButton', 'prioColor', 'prioWhite', 'prio')"><span class="prio-name"
                                id="prio1">Urgent</span><img src="./assets/img/img-urgent.png" id="prioColor1"><img
                                class="d-none" src="./assets/img/img-urgent-white.png" id="prioWhite1"></div>
                        <div class="button-prio" id="prioButton2"
                            onclick="setPrio(2, 'prioButton', 'prioColor', 'prioWhite', 'prio')"><span class="prio-name"
                                id="prio2">Medium</span><img src="./assets/img/img-medium.png" id="prioColor2"><img
                                class="d-none" src="./assets/img/img-medium-white.png" id="prioWhite2"></div>
                        <div class="button-prio" id="prioButton3"
                            onclick="setPrio(3, 'prioButton', 'prioColor', 'prioWhite', 'prio')"><span class="prio-name"
                                id="prio3">Low</span><img src="./assets/img/img-low.png" id="prioColor3"><img
                                class="d-none" src="./assets/img/img-low-white.png" id="prioWhite3"></div>
                    </div>
                </label>
            </div>
            <br>

            <div class="category">
                <label>Category<span class="star">*</span><br>
                    <div class="category-container" id="categoryInputContainer">
                        <input list="category" placeholder="Select task category" required class="inputField"
                            id="categoryInput">
                        <img src="./assets/img/arrow-drop-down.png" class="arrow-drop-down" id="arrowCategory"
                            onclick="toggleCategoryDropDown()">
                    </div>
                </label>
                <div id="categoryDropDown" class="category-drop-down d-none">
                    <span id="category1" onclick="selectCategory(1)">Technical Task</span>
                    <span id="category2" onclick="selectCategory(2)">User Story</span>
                </div>
            </div>
            <br>

            <div class="subtasks">
                <label>Subtasks<br>
                    <div class="subtasks-container" id="subtaskContainer">
                        <input type="text" placeholder="Add new Subtask" class="inputField focus" id="subtaskInput"
                            onfocus="inputSubtaskFocus()" oninput="inputSubtask()" onblur="inputSubtaskBlur()">
                        <img src="./assets/img/plus-black.png" class="plus-img" id="plusImg" onclick="addSubtask()">
                        <div class="insert-subtask-tool-container d-none" id="insertSubtaskToolContainer">
                            <img src="./assets/img/close-img.png" class="close-img" onclick="deleteInputSubtask()">
                            <div class="tool-separator"></div>
                            <img src="./assets/img/check-black.png" class="check-black-img"
                                onclick="saveInputSubtask()">
                        </div>
                    </div>
                </label>
                <div id="addedSubtasksContainer" class="added-subtasks-container">
                </div>
            </div>

        </div>

    </div>

    <div class="bottom-container">
        <span class="text-required"><span class="star-text-required">*</span>This field is required</span>
        <div class="buttons-container">
            <button type="reset" class="button-clear button-center" onclick="clearTask()">Clear<img
                    src="./assets/img/close-img.png"></button>
            <button type="submit" class="button-create button-center" id="createTaskButton">Create Task<img
                    src="./assets/img/check.png"></button>
        </div>
    </div>
</form>