<h1>Add Task</h1>
<div class="atContainer">
    <div class="aTContainerLeft">
        <label>Title*<br>
            <input type="text">
        </label>
        <br>
        <label>Description<br>
            <textarea></textarea>
        </label>
        <br>
        <label>Assigned to<br>
            <input list="contacts">
        </label>
    </div>

    <div class="seperator"></div>

    <div class="aTContainerRight">
        <label>Due date*<br>
            <input type="date">
        </label>
        <br>
        <label>Prio<br>
            <button>Urgent</button>
            <button>Medium</button>
            <button>Low</button>
        </label>
        <br>
        <label>Category*<br>
            <input list="category">
        </label>
        <br>
        <label>Subtasks<br>
            <input type="text">
        </label>
    </div>
</div>

<div class="atButtonsContainer">
    <span>This field is required</span>
    <div class="buttonsContainer">
        <button>Clear</button>
        <button>Create Task</button>
    </div>
</div>