<div id="board-header" class="board-inner-head">
    <span>Board</span>
    <div>
        <input class="inputField" placeholder="Find task">
        <button class="button-dark" onclick="location.href='add_task.html';">
            Add task
            <img class="button-img pl-24" src="./assets/img/plus-white2.png">
        </button>
    </div>
</div>
<div class="row">
    <div id="toDoContainer" class="column"">
        <div class="col-head">
            <span>To do</span>
            <img src="./assets/img/plusbutton.png">
        </div>
        <div class="task-holder" id="todoTasks" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="inProgressContainer" class="column">
        <div class="col-head">
            <span>In Progress</span>
            <img src="./assets/img/plusbutton.png">
        </div>
        <div class="task-holder" id="inProgressTasks" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <!-- <div id="someid" class="todo" draggable="true" ondragstart="drag(event)">
            <span class="category">User Story</span>
            <span class="todo-header">Kochwelt Page & recipe Reccomender</span>
            <p class="todo-description">As there doesnt exist a well css solution to add multiline ellipse text
                truncation
                we need to shorten text on js side and render it directly with dots.
            </p>
            <div class="subtasks">
                <div class="subtasks-bar-outer">
                    <div class="subtasks-bar-inner"></div>
                </div>
                <span class="subtasks-text">10/20 Subtasks</span>
            </div>
            <div class="todo-footer">
                <div class="todo-coworkers">
                    <div class="todo-coworker">AM</div>
                    <div class="todo-coworker">EM</div>
                    <div class="todo-coworker">MB</div>
                    <div class="todo-coworker">AM</div>
                </div>
                <div class="priority">
                    <img src="./assets/img/prio-media.png">
                </div>
            </div>
        </div> -->
    </div>
    <div id="awaitFeedbackContainer" class="column">
        <div class="col-head">
            <span>Await Feedback</span>
            <img src="./assets/img/plusbutton.png">
        </div>
        <div class="task-holder" id="awaitFeedbackTasks" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="doneContainer" class="column">
        <div class="col-head">
            <span>Done</span>
        </div>
        <div class="task-holder" id="doneTasks" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
</div>