<div class="board-inner-head">
    <span>Board</span>
    <div>
        <input class="inputField" placeholder="Find task">
        <button class="button-dark">Add task<img class="button-img pl-24" src="./assets/img/plus-white2.png"></button>
    </div>    
</div>
<div class="row">
    <div class="column">
        <div class="col-head">
            <span>To do</span>
            <img src="./assets/img/plusbutton.png">
        </div>
    </div>
    <div class="column">
        <div class="col-head">
            <span>In Progress</span>
            <img src="./assets/img/plusbutton.png">
        </div>
    </div>
    <div class="column">
        <div class="col-head">
            <span>Await Feedback</span>
            <img src="./assets/img/plusbutton.png">
        </div>
    </div>
    <div class="column">
        <div class="col-head">
            <span>Done</span>
        </div>
    </div>
</div>