<div class="ctc-left">
    <button class="button-dark newcontact-btn">
        Add new contact
        <img class="newcontact-btn-img" src="./assets/img/person_add.png">
    </button>
    <div class="ctc-list">
        <div class="ctc-sort-letter">A</div>
        <div class="ctc-small-list" id="contactsList">
            <div class="contact">
                <div class="ctc-logo">AM</div>
                <div class="ctc-details">
                    <span class="ctc-fullname">Anton Mayer</span>
                    <span class="ctc-email">anton@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ctc-right">
    Contact Detail
</div>