<div class="content-header">
    <div class="header-left">
        <span class="menu-header-text">Kanban Project Management Tool</span>
    </div>
    <div class="mobile-logo display-none"><img src="../assets/img/LogoSmall.png"></div>
    <div class="header-right">
        <img src="../assets/img/question.png" class="header-question-icon" id="helpIcon" onclick="redirectTo('../help.html')">
        <div class="header-profile-icon" id="currentUserinHeader" onclick="toggleLogOutMenu()">G</div>
    </div>
</div>