<div class="navbar-mobile-bottom">
    <div class="navbar-mobile-content" id="summaryDivBc">
        <img src="../assets/img/summaryIcon.png" alt="SummaryIcon" class="mobileNavbarIcons" onclick="redirectTo('../summary.html')">
        <span class="mobileSpan">Summary</span>
    </div>
    <div class="navbar-mobile-content">
        <img src="../assets/img/boardIcon.png" alt="SummaryIcon" class="mobileNavbarIcons" onclick="redirectTo('../board.html')">
        <span class="mobileSpan">Board</span>
    </div>
    <div class="navbar-mobile-content">
        <img src="../assets/img/addTaskIcon.png" alt="SummaryIcon" class="mobileNavbarIcons" onclick="redirectTo('../add_task.html')">
        <span class="mobileSpan">Add Tasks</span>
    </div>
    <div class="navbar-mobile-content">
        <img src="../assets/img/contactsIcon.png" alt="SummaryIcon" class="mobileNavbarIcons" onclick="redirectTo('../contacts.html')">
        <span class="mobileSpan">Contacts</span>
    </div>
</div>