<div class="navbar-mobile-bottom">
    <div class="navbar-mobile-content">
        <img src="../assets/img/summaryIcon.png" alt="SummaryIcon" class="mobileNavbarIcons" onclick="returnToSummary()">
        <span class="mobileSpan">Summary</span>
    </div>
    <div class="navbar-mobile-content">
        <img src="../assets/img/boardIcon.png" alt="SummaryIcon" class="mobileNavbarIcons" onclick="returnToBoard()">
        <span class="mobileSpan">Board</span>
    </div>
    <div class="navbar-mobile-content">
        <img src="../assets/img/addTaskIcon.png" alt="SummaryIcon" class="mobileNavbarIcons" onclick="returnTasks()">
        <span class="mobileSpan">Add Tasks</span>
    </div>
    <div class="navbar-mobile-content">
        <img src="../assets/img/contactsIcon.png" alt="SummaryIcon" class="mobileNavbarIcons" onclick="returnContacts()">
        <span class="mobileSpan">Contacts</span>
    </div>
</div>