<div class="overlay-container d-none" id="overlay">
    <div class="overlay-content-container">
        <div class="occ-left">
            <div class="close-sign-mobile"  onclick="closeOverlay()"><img src="./assets/img/close-white.png"></div>
            <img class="overlay-logo" src="./assets/img/LogoSmallWhite.png">
            <span class="overlay-headline"><span id="overlay-headline"></span></span>
            <span class="overlay-sub-headline" id="overlay-sub-headline"></span>
            <div class="description-border"></div>
        </div>
        <div class="occ-right">
            <div class="full-width right close-sign-desktop">
                <img class="overlay-close" src="./assets/img/close-img.png" onclick="closeOverlay()">
            </div>
            <div class="full-height">
                <div id="overlay-content" class="full-width full-height"></div>
            </div>
        </div>
    </div>
</div>