<div class="category-close-btn-container">
    <div class="category-pu-big" id="categoryPuBig">User Story</div>
    <img class="close-button-pu-big" src="./assets/img/close-img.png" onclick="closeTaskBig()">
</div>
<h1 class="pu-big-title">Kochwelt Page & Recipe Recommender</h1>
<span class="pu-big-description">Build sart page with recipe recommendation. and and and</span>
<table>
    <tr>
        <td>Due date:</td>
        <td>10/05/2023</td>
    </tr>
    <tr>
        <td>Priority:</td>
        <td>Medium<img src="./assets/img/img-medium.png"></td>
    </tr>
</table>
<span class="pu-big-assigned-to">Assigned to:</span>
<div class="pu-big-contacts">
    <div class="pu-big-contact-container">
        <div>EM</div>
        <span>Emmanuel Mauer</span>
    </div>
    <div class="pu-big-contact-container">
        <div>EM</div>
        <span>Emmanuel Mauer</span>
    </div>
    <div class="pu-big-contact-container">
        <div>EM</div>
        <span>Emmanuel Mauer</span>
    </div>
</div>
<span class="pu-big-subtasks">Subtasks</span>
<div class="pu-big-subtasks-container">
    <div class="pu-big-subtask-container">
        <img src="./assets/img/checked-button-black.png">
        <span>Implement Recipe Recommendation</span>
    </div>
    <div class="pu-big-subtask-container">
        <img src="./assets/img/check-button.png">
        <span>Start Page Layout</span>
    </div>
</div>
<div class="pu-big-edit-container">
    <div class="pu-big-edit-only">
        <img class="pu-big-delete" src="./assets/img/delete-img.png">
        <span>Delete</span>
    </div>
    <div class="pu-big-seperator"></div>
    <div class="pu-big-edit-only">
        <img class="pu-big-edit" src="./assets/img/edit.png">
        <span>Edit</span>
    </div>
</div>