<div class="board">
    <div class="nav-left">
        <div class="nav-left-top">
            <div class="nlt-img">
                <img src="./assets/img/LogoSmallWhite.png">
            </div>
            <div class="nlt-links">
                <div class="nav-tab">Summary</div>
                <div class="nav-tab">Add Task</div>
                <div class="nav-tab">Board</div>
                <div class="nav-tab">Contacts</div>
            </div>
        </div>
        <div class="nav-left-btm">
            <a href="#">Privacy Policy</a>
            <a href="#">Legal Notice</a>
        </div>
    </div>
    