<div class="nav-left">
    <div class="nav-left-top">
        <div class="nlt-img">
            <img src="./assets/img/LogoSmallWhite.png">
        </div>
        <div class="nlt-links">
            <div class="nav-tab" onclick="window.location.href = './summary.html'">
                <img src="./assets/img/summaryIcon.png" alt="SummaryIcon" class="sidebarIcons">
                <span>Summary</span>
            </div>
            <div class="nav-tab" onclick="window.location.href = './add_task.html'">
                <img src="./assets/img/addTaskIcon.png" alt="SummaryIcon" class="sidebarIcons">
                <span>Add Task</span>
            </div>
            <div class="nav-tab" onclick="window.location.href = './board.html'">
                <img src="./assets/img/boardIcon.png" alt="SummaryIcon" class="sidebarIcons">
                <span>Board</span>
            </div>
            <div class="nav-tab" onclick="window.location.href = './contacts.html'">
                <img src="./assets/img/contactsIcon.png" alt="SummaryIcon" class="sidebarIcons">
                <a>Contacts</a>
            </div>
        </div>
    </div>
    <div class="nav-left-btm">
        <a class="sidebarLinksBtm" href="./legal/privacyPolicyInternal.html">Privacy Policy</a>
        <a class="sidebarLinksBtm" href="./legal/legalNoticeInternal.html">Legal Notice</a>
    </div>
</div>